partimage
partimaged
autom4te.cache
pathnames.h
Makevars.template
Makefile.in
Makefile
config.h.in
config.h
config.log
config.status
config.guess
config.rpath
config.sub
ltmain.sh
mkinstalldirs
aclocal.m4
configure
depcomp
install-sh
missing
stamp-h1
libtool
stamp-po
POTFILES
.deps
*.gmo
*.o
*.a
*~

